@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
*{
  /* border:red 1px solid; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
}
:root{
  --text-color:#2c3544;
  --bink-color:#fa7cbc;
  --orange-color:#fe7524;
  --green-color:#28af2f;
  --light-green:#02d2b2;
}
.bink{
  background-color: var(--bink-color);
}
.green{
  background-color: var(--green-color);
}
.orange{
  background-color: var(--orange-color);
}
.light-green{
  background-color: var(--light-green);
}
.voilet{
  background-color: #8e0cc4;
}
.dark-grey{
  background-color: var(--text-color);
}
a , button{
  cursor: pointer;
  transition: all 0.3s;
}
ul{
  list-style: none;
}
a{
  text-decoration: none !important;
}
.sectionToUp{
  opacity: 0; /* Set initial opacity to 0 */
  transition: all 1s; /* Set transition duration to 500ms */
  transform: translateY(20px); /* Move element back to original position */
}
.fade-in-from-bottom {
  opacity: 1; /* Set opacity to 1 for fade-in effect */
  transform: translateY(0); /* Move element back to original position */
}
/* .section {
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0%);
} */
.section {
  opacity: 0;
  transform: translateY(50px);
  transition:all 0.5s ease-in-out;
}

.section.fade-in {
  opacity: 1;
  transform: translateY(0);
}
/* @keyframes slidein {
  from {
    margin-top: 100%;
    height: 300%;
  }

  to {
    margin-top: 0%;
    height: 100%;
  }
} */
/* start navbar */
.colors{
  width: 100%;
  height: 18px;
  background-image: linear-gradient(to right, var(--green-color) 25%, var(--orange-color) 25%,var(--orange-color) 50%, var(--light-green) 50%,var(--light-green) 75%, var(--bink-color) 75%);
}
.logo img{
  width: 200px;
}
.nav-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-item a{
  font-size: 18px;
  color: var(--text-color);
  font-weight: 700;
  position: relative;
  padding-left: 12px !important;
}
.nav-item i{
  color: #fff;
  padding: 12px;
  border-radius: 50%;
}
.bg-voilet i{
  background-color: #8e0cc4;
}
.bg-bink i{
  background-color: var(--bink-color);
}
.bg-bink a:hover{
  color: var(--bink-color);
}
.bg-orange i{
  background-color: var(--orange-color);
}
.bg-orange a:hover{
  color: var(--orange-color);
}
.bg-green i{
  background-color: var(--green-color);
}
.bg-green a:hover{
  color: var(--green-color);
}
.bg-light-green i{
  background-color: var(--light-green);
}
.bg-light-green a:hover{
  color: var(--light-green);
}
.bg-light-green a::before{
  content: "";
  height: 23px;
  width: 2px;
  position: absolute;
  right: -5%;
  top: 25%;
  background-color: var(--light-green);
}
.bg-green a::before{
  content: "";
  height: 23px;
  width: 2px;
  position: absolute;
  right: -5%;
  top: 25%;
  background-color: var(--green-color);
}
.bg-orange a::before{
  content: "";
  height: 23px;
  width: 2px;
  position: absolute;
  right: -5%;
  top: 25%;
  background-color: var(--orange-color);
}
.before-bink a::before{
  content: "";
  height: 23px;
  width: 2px;
  position: absolute;
  right: -5%;
  top: 25%;
  background-color: var(--bink-color);
}
nav{
  box-shadow: 3px  3px 5px #c1c6c2;
}
nav .dropdown-item:hover{
  transform: translateX(5px);
  background:none !important;
}
/* end navbar */
/* start register page */
.register-container li{
  color: #8e0cc4;
  font-weight: 600;
}
.register-container label{
  color: #2c2221;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 3px;
  padding-right: 8px;
}
.register-container input ,select{
  width: 100%;
  border: solid 2px #2c2221;
   border-radius: 3px;
  padding: 5px;
}
.submit-btn{
  color: #fff !important;
  background-color: #8e0cc4 !important;
  transition: all 0.3s;
  border: solid 0.5px #2c2221 !important;
  font-size: 17px !important;
  font-weight: 600 !important;
}
.submit-btn:hover{
  color: #fff !important;
  background-color: #6c0e95 !important;
  transform: scale(1.03);

}
/*end register page */
/* start footer */
.colors-footer{
  width: 100%;
  height: 18px;
  background-image: linear-gradient(to right, var(--light-green) 12.5%, var(--orange-color) 12.5%,var(--orange-color) 25%, var(--bink-color) 25%,var(--bink-color) 37.5%,
   var(--green-color) 37.5%,var(--green-color) 50%,var(--orange-color) 50%,var(--orange-color) 62.5%,var(--light-green) 62.5%,var(--light-green) 75%
   ,var(--bink-color) 75%,var(--bink-color) 87.5%,var(--green-color) 78.5%);
}
footer{
  background-color: #2c3443;
  position: relative;
  width: 100%;
}
.footercontain{
  position: relative;
}
.overlay-footer{
  position: absolute;
  bottom: 0;
  height: 100%;
  background-image: url(./assets/foo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.footer-info{
  display: flex;
  flex-direction: column;
  align-self: center;
}
footer .zad{
  padding: 5px;
  text-align: center;
  border: dashed 2px var(--light-green);
  color: #fff;
  width: 60%;
}
.fa-phone-volume{
  font-size: 18px;
  margin-right: 5px;
}
footer .zad i{
  background-color: var(--light-green);
  padding: 5px 6px;
  border-radius: 5px;

}
footer .qtouf i{
  background-color: var(--green-color);
  padding: 5px 6px;
  border-radius: 5px;

}
footer .qtouf{
  width: 60%;
  padding: 5px;
  text-align: center;
  border: dashed 2px var(--green-color);
  color: #fff;

}

/* end footer */
/* start main page */
.header-img{
  background-image: url(./assets/header.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 70vh;
  position: relative;

}
.header-boxs{
  position: absolute;
  width: 100%;
  bottom:-8% ;
  justify-content: space-around;
}
.grey-box{
  position: relative;
  background-color: #c1c6c2;
  margin: auto;
  border-radius: 10px;

}
.color-box{
  position: relative;
  transform: translateY(-4px) translateX(-3px);
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 15vmin;
  height: 80px;
}
.color-box h5{
  font-weight: 600;
  margin: 0;
}
.feature-heading h1{
  color: var(--orange-color);
  font-weight: 900;
  font-size: 45px;
  padding: 0 6px;
}
.dot{
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 50%;
  margin:0px 5px;
}
.feature {
  padding-bottom: 10px;
  /* animation-duration: 2s;
  animation-name: slidein; */
}

.feature i{
  font-size: 40px;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-left: 10px;
  transition: all 0.3s;
}
.feature i:hover{
  transform: rotateY(180deg);
}
.feature p{
  font-weight: 600;
  font-size: 24px;
  padding-left: 20%;
  color: var(--text-color)
}
.feature h2{
  font-weight: 800;
}
.bg-bink h2{
  color: var(--bink-color);
}
.bg-green h2{
  color: var(--green-color);
}
.bg-light-green h2{
  color: var(--light-green);
}
.bg-orange h2{
  color: var(--orange-color);
}
.bg-voilet h2{
  color: #8e0cc4;
}
/* .img-albums{
  animation-duration: 2s;
  animation-name: slidein;
} */
.album-heading h1{
  color: var(--bink-color);
  font-weight: 900;
  font-size: 45px;
  padding: 0 6px;
}
.grey-col{
  position: relative;
  background-color: #c1c6c2;
  border-radius: 10px;
  transition: all 0.3s;
}
.grey-col:hover{
  transform: scale(1.05);
}
.grey-col h2{
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  width: 100%;
  position: relative;
  transform: translateY(-5px);
}
.imgs{
  border: #2c3544 solid 2px;
  border-radius: 5px;
  padding: 0 !important;
  width:95% !important;
  margin: auto;
}
.albums1{
  width: 100%;
  height: 170px;
  background-image: linear-gradient(to right,#c1c6c2 25%,#9a9a9a 25%,#9a9a9a 50%,#c1c6c2 50%,#c1c6c2 75%,#9a9a9a 75%);
}
.albums2{
  width: 100%;
  height: 170px;
  background-image: linear-gradient(to right,#9a9a9a 25%,#c1c6c2 25%,#c1c6c2 50%,#9a9a9a 50%,#9a9a9a 75%,#c1c6c2 75%);
}
/* end main page */
/* start child account */
.hello {
  border-radius: 10px;
}
.hello h2{
  color: #f3f2f2;
  font-weight: 500;
  padding: 25px 10px;
}
.hello h2 span{
  color: #fff;
  font-style: italic;
  font-weight: 900;
}
.quote{
  align-items: center;
  border-radius: 10px;
}
.quote h4{
  color: #fff;
  padding: 5px 10px;
}
.quote img{
  height: 150px;
  width: 120;
}
.student-data{
  border: #2c3443 2px solid;
  border-radius: 10px;
}
.student-data h2{
  color: #212731;
  font-weight: 900;
}
.student-data .data{
  display: flex;
  align-items: center;
  padding: 5px 0px;
}
.student-data .data h3{
  font-weight: 700;
  color: #2c3544;
}
.student-data .data h4{
  color: var(--text-color);
  padding-right: 5px;
}
/*end child account */
/* start admin dashboard */
.admin-heading h1{
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 10px 20px;
  display: inline;
  color: #2c3443;
}
.sm-card{
  padding: 20px 0;
  border-radius: 10px;
}
.sm-card i{
  color: #fff;
  font-size: 30px;
  border-radius: 50%;
  padding: 15px;
  margin:20px 0;
  animation: mover 1s alternate infinite;
  -webkit-animation: mover 1s alternate infinite;
  -moz-animation: mover 1s alternate infinite;
  -o-animation: mover 1s alternate infinite;
  transition: all ease 0.2s;
}
@keyframes mover{
  0%{
      transform: translateY(0px);
  }
  100%{
      transform: translateY(-15px);
  }
}
@-webkit-keyframes mover{
  0%{
      transform: translateY(0px);
  }
  100%{
      transform: translateY(-15px);
  }
}
@-moz-keyframes mover{
  0%{
      transform: translateY(0px);
  }
  100%{
      transform: translateY(-15px);
  }
}
@-o-keyframes mover{
  0%{
      transform: translateY(0px);
  }
  100%{
      transform: translateY(-15px);
  }
}
.sm-card h3,
.sm-card h4{
  font-weight: 600;
  color: #2c3544;
}
.sm-card span{
  font-weight: 900;
  font-size: 24px;
  padding: 10px ;
  display: block;
  margin-bottom: 20px;
}
.card1{
  background-color: #dddddd;
}
.card1 i{
  background-color: #8e0cc4;
}
.card2{
  background-color: #ffe3ed;
}
.card3{
  background-color:#ffe8d6 ;
}
.card4{
  background-color: #cceabb;
}
.students{
  background-color: #f7f7f7;
  border-radius: 10px;
}
.students h3{
  color: var(--light-green);
  font-weight: 500;
  position: relative;
}
.students h3::after{
  content: "";
  background-color: var(--light-green);
  height: 2px;
  width: 200px;
  position: absolute;
  right: 0;
  bottom: -7px;
}
.student-table{
  overflow-x: scroll;
}
.search-input{
  height: 36px;
  width: 60%;
}
.search-input input{
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border:none;
  background:#fff;
  border-radius: 36px 0 0 36px;
  outline: none;
  padding: 5px;
  overflow: hidden;
}
.search-input button{
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-green);
  color: #f7f7f7;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  padding: 5px;
}
.student-table .more-btn{
  color: #fff;
  font-weight: 600;
  background-color: var(--light-green);
  transition: all 0.3s;
}
.student-table .more-btn:hover{
  color: #fff;
  font-weight: 600;
  background-color: #02a990;
}
.student-register{
  background-color: #dddddd;
  border-radius: 10px;
}
.student-register h2{
  color: #6c0e95;
  font-weight: 600;
}
/* end admin dashboard */
/* start requirement page */
.require-heading h1{
  color: var(--orange-color);
  font-weight: 900;
  font-size: 45px;
  padding: 0 6px;
}
.require h3{
  color: var(--text-color);
  padding: 30px 0px 15px 0px;
}
.require i{
  font-size: 26px;
  color: #1998d3;
}
.require li{
  font-size: 24px;
  color: #8e0cc4;
  padding-bottom: 8px;
}
/* end requirement page */
/* start programmes page */
/* .programmes{
  animation-duration: 1.5s;
  animation-name: slidein;
} */
.program-heading h1{
  color: #8e0cc4;
  font-weight: 900;
  font-size: 45px;
  padding: 0 6px;
}
.programme{
  border-radius: 12px;
  padding: 7px;
  overflow: hidden;
  transition: all 0.4s;
}
.head-card{
  background-color: #fff;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.head-card h4{
  text-align: center;
  padding: 8px 0px;
  font-weight: 600;
}
.programmes .green .head-card h4{
  border-bottom: var(--green-color) 4px solid;
}
.programmes .orange .head-card h4{
  border-bottom: var(--orange-color) 4px solid;
}
.programmes .light-green .head-card h4{
  border-bottom: var(--light-green) 4px solid;
}
.programmes .voilet .head-card h4{
  border-bottom: #8e0cc4 4px solid;
}
.programmes .green .head-card h4 span{
  color: var(--green-color);
}
.programmes .orange .head-card h4 span{
  color: var(--orange-color);
}
.programmes .light-green .head-card h4 span{
  color: var(--light-green);
}
.programmes .voilet .head-card h4 span{
  color:#8e0cc4;
}
.programme-caption h5{
  text-align: center;
  color: var(--text-color);
  background-color: #fff;
  border-radius: 6px;
  margin: 10px;
  display: block;
  padding: 5px 30px;
  font-weight: 600;
  font-size: 22px;
  box-shadow: 0px 5px 0px #2c3544 ;
}
/* .box {
  --mask: radial-gradient(165px at 165px 50%,#0000 97%,#000) -165px/ 100% 305.25px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
} */
.programme img{
  height: 340px;
}
.programme-caption ul{
  list-style:inside !important;
  margin-bottom: 0 !important;
}
.programme-caption li{
  color: #fff;
  padding: 3px 0;
  font-size: 20px;
  font-weight: 900;
}
.programme-caption a{
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  padding: 3px 15px;
  position: relative;
  transition: all 0.4s;
}
.programme-caption a:hover{
  color: #fff;
}
.registeranchor:hover{
  transform: scale(1.1) !important;
}
.programmes .green .programme-caption a{
  background-color: #06590b;
}
.programmes .orange .programme-caption a{
  background-color: #7f3103;
}
.programmes .light-green .programme-caption a{
  background-color: #02584b;
}
.programmes .voilet .programme-caption a{
  background-color: #490866;
}
.programme-caption a span{
  padding: 0 20px;
}
.circle-right{
  position: absolute;
  font-size: 30px;
  right: -13px;
}
.circle-left{
  position: absolute;
  font-size: 30px;
}
.programmes .green .circle-left,
.programmes .green .circle-right{
  color: var(--green-color);
}
.programmes .orange .circle-left,
.programmes .orange .circle-right{
  color: var(--orange-color);
}
.programmes .light-green .circle-left,
.programmes .light-green .circle-right{
  color: var(--light-green);
}
.programmes .voilet .circle-left,
.programmes .voilet .circle-right{
  color:#8e0cc4;
}
.programme:hover{
  transform: scale(1.03);
}
/* end programmes page */
/* start about page */
.about-heading h1{
  color: var(--light-green);
  font-weight: 900;
  font-size: 45px;
  padding: 0 6px;
}
.about h3{
  color: var(--text-color);
  padding: 30px 0px 15px 0px;
}
.about i{
  font-size: 26px;
  color: var(--light-green);
}
.about li{
  font-size: 24px;
  color:var(--text-color);
  padding-bottom: 8px;
}
.about-card{
  padding: 15px;
  border-radius: 15px;
  background-color: #EAFBF8;
  transition: all 0.4s;
}
.about-card i{
  color: var(--light-green);
  text-align: center;
  border: solid 1px var(--light-green);
  border-radius: 50%;
  padding: 15px;
  transition: all 0.4s;
}
.about-card h3{
  font-weight: 600;
  color: var(--text-color);
  transition: all 0.4s;
}
.about-card p{
  transition: all 0.4s;
  font-weight: 500;
  color: var(--text-color);
  font-size: 18px;
}
.about-card:hover{
  transform: scale(1.1);
  background-color: #67E4D0;
}
.about-card:hover i{
  color: #EAFBF8;
  border: solid 1px #EAFBF8;
}
.about-card:hover h3{
  color: #EAFBF8;
}
.about-card:hover p{
  color: #EAFBF8;
}

/* end about page */
/* start zad page */
.zad-heading h1{
  color: var(--orange-color);
  font-weight: 900;
  font-size: 45px;
  padding: 0 6px;
}
.zadAcademy h2{
  color: var(--text-color);
  font-weight: 600;
}
.zadAcademy h3{
  color: var(--text-color);
  padding: 30px 0px 15px 0px;
}
.zadAcademy i{
  font-size: 26px;
  color: var(--orange-color);
}
.zadAcademy li{
  font-size: 24px !important;
  color: var(--text-color);
  padding-bottom: 8px;
}
.zad-btn{
  background-color: var(--orange-color) !important;
  color: #fff !important;
  font-weight: 600 !important;
}
.zad-btn:hover{
  background-color: #da501e !important;
  color: #fff !important;
  font-weight: 600 !important;
  transform: scale(1.03);
}
/* end zad page */
/* start qtouf page*/
.qtouf-heading h1{
  color: var(--light-green);
  font-weight: 900;
  font-size: 45px;
  padding: 0 6px;
}
.qtouf-btn{
  background-color: var(--light-green) !important;
  color: #fff !important;
  font-weight: 600 !important;
}
.qtouf-btn:hover{
  background-color: #0ea58f !important;
  color: #fff !important;
  font-weight: 600 !important;
  transform: scale(1.03);
}
.qtoufAcademy h3{
  color: var(--text-color);
  padding: 30px 0px 10px 0px;
  font-weight: 600;
}
.qtoufAcademy p{
  color: var(--text-color);
  font-size: 20px;
}

@media only screen and (max-width: 576px){
  .color-box h5{
    font-size: 0.7rem;
  }
  .color-box{
    width: 12vmin;
  }
  .feature p{
    font-size: 17px;
  }
}
@media only screen and (max-width: 992px){
  footer .zad {
    width: 80%;
  }
  footer .qtouf{
    width: 80%;
  }
}
.notfound{
  font-size: 40px;
  background-color: #c1c6c2;
  color: rgb(197, 6, 6);
}