@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');
*{
  /* border:red 1px solid; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
}
:root{
  --text-color:#2c3544;
  --bink-color:#fa7cbc;
  --orange-color:#fe7524;
  --green-color:#6ace6f;
  --light-green:#02d2b2;
}
.bink{
  background-color: var(--bink-color);
}
.green{
  background-color: var(--green-color);
}
.orange{
  background-color: var(--orange-color);
}
.light-green{
  background-color: var(--light-green);
}
a , button{
  cursor: pointer;
}
/* start navbar */
.colors{
  width: 100%;
  height: 18px;
  background-image: linear-gradient(to right, var(--green-color) 25%, var(--orange-color) 25%,var(--orange-color) 50%, var(--light-green) 50%,var(--light-green) 75%, var(--bink-color) 75%);
}
.logo img{
  width: 200px;
}
.nav-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-item a{
  font-size: 18px;
  color: var(--text-color);
  font-weight: 700;
  position: relative;
  padding-left: 12px !important;
}
.nav-item i{
  color: #fff;
  padding: 12px;
  border-radius: 50%;
}
.bg-voilet i{
  background-color: #8e0cc4;
}
.bg-bink i{
  background-color: var(--bink-color);
}
.bg-orange i{
  background-color: var(--orange-color);
}
.bg-green i{
  background-color: var(--green-color);
}
.bg-light-green i{
  background-color: var(--light-green);
}
.bg-light-green a::before{
  content: "";
  height: 23px;
  width: 2px;
  position: absolute;
  right: -5%;
  top: 25%;
  background-color: var(--light-green);
}
.bg-green a::before{
  content: "";
  height: 23px;
  width: 2px;
  position: absolute;
  right: -5%;
  top: 25%;
  background-color: var(--green-color);
}
.bg-orange a::before{
  content: "";
  height: 23px;
  width: 2px;
  position: absolute;
  right: -5%;
  top: 25%;
  background-color: var(--orange-color);
}
.before-bink a::before{
  content: "";
  height: 23px;
  width: 2px;
  position: absolute;
  right: -5%;
  top: 25%;
  background-color: var(--bink-color);
}
nav{
  box-shadow: 3px  3px 5px #c1c6c2;
}
/* end navbar */
/* start register page */
.register-container li{
  color: #8e0cc4;
  font-weight: 600;
}
.register-container label{
  color: #2c2221;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 3px;
  padding-right: 8px;
}
.register-container input ,select{
  width: 100%;
  border: solid 2px #2c2221;
   border-radius: 3px;
  padding: 5px;
}
.submit-btn{
  color: #fff !important;
  background-color: #8e0cc4 !important;
  transition: all 0.3s;
  border: solid 0.5px #2c2221 !important;
  font-size: 17px !important;
  font-weight: 600 !important;
}
.submit-btn:hover{
  color: #fff !important;
  background-color: #6c0e95 !important;
}
/*end register page */
/* start footer */
.colors-footer{
  width: 100%;
  height: 18px;
  background-image: linear-gradient(to right, var(--light-green) 12.5%, var(--orange-color) 12.5%,var(--orange-color) 25%, var(--bink-color) 25%,var(--bink-color) 37.5%,
   var(--green-color) 37.5%,var(--green-color) 50%,var(--orange-color) 50%,var(--orange-color) 62.5%,var(--light-green) 62.5%,var(--light-green) 75%
   ,var(--bink-color) 75%,var(--bink-color) 87.5%,var(--green-color) 78.5%);
}
footer{
  background-color: #2c3443;
  position: relative;
  width: 100%;
}
.footercontain{
  position: relative;
}
.overlay-footer{
  position: absolute;
  bottom: 0;
  height: 100%;
  background-image: url(./assets/foo.png);
  background-size: 100% 100%;
}
.footer-info{
  display: flex;
  flex-direction: column;
  align-self: center;
}
footer .zad{
  padding: 5px;
  text-align: center;
  border: dashed 2px var(--light-green);
  color: #fff;
  width: 60%;
}
.fa-phone-volume{
  font-size: 18px;
  margin-right: 5px;
}
footer .zad i{
  background-color: var(--light-green);
  padding: 5px 6px;
  border-radius: 5px;

}
footer .qtouf i{
  background-color: var(--green-color);
  padding: 5px 6px;
  border-radius: 5px;

}
footer .qtouf{
  width: 60%;
  padding: 5px;
  text-align: center;
  border: dashed 2px var(--green-color);
  color: #fff;

}

/* end footer */
/* start main page */
.header-img{
  background-image: url(./assets/header.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 70vh;
  position: relative;

}
.header-boxs{
  position: absolute;
  width: 100%;
  bottom:-8% ;
  justify-content: space-around;
}
.grey-box{
  position: relative;
  background-color: #c1c6c2;
  margin: auto;
  border-radius: 10px;

}
.color-box{
  position: relative;
  transform: translateY(-4px) translateX(-3px);
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 15vmin;
  height: 80px;
}
.color-box h5{
  font-weight: 600;
  margin: 0;
}
.feature-heading h1{
  color: var(--orange-color);
  font-weight: 900;
  font-size: 45px;
  padding: 0 6px;
}
.dot{
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 50%;
  margin:0px 5px;
}
.feature{
  padding-bottom: 10px;
}
.feature i{
  font-size: 40px;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-left: 10px;
}
.feature p{
  font-weight: 600;
  font-size: 24px;
  padding-left: 20%;
  color: var(--text-color)
}
.feature h2{
  font-weight: 800;
}
.bg-bink h2{
  color: var(--bink-color);
}
.bg-green h2{
  color: var(--green-color);
}
.bg-light-green h2{
  color: var(--light-green);
}
.bg-orange h2{
  color: var(--orange-color);
}
.bg-voilet h2{
  color: #8e0cc4;
}
.album-heading h1{
  color: var(--bink-color);
  font-weight: 900;
  font-size: 45px;
  padding: 0 6px;
}
.grey-col{
  position: relative;
  background-color: #c1c6c2;
  border-radius: 10px;
}
.grey-col h2{
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  width: 100%;
  position: relative;
  transform: translateY(-5px);
}
.imgs{
  border: #2c3544 solid 2px;
  border-radius: 5px;
  padding: 0 !important;
  width:95% !important;
  margin: auto;
}
.albums1{
  width: 100%;
  height: 170px;
  background-image: linear-gradient(to right,#c1c6c2 25%,#9a9a9a 25%,#9a9a9a 50%,#c1c6c2 50%,#c1c6c2 75%,#9a9a9a 75%);
}
.albums2{
  width: 100%;
  height: 170px;
  background-image: linear-gradient(to right,#9a9a9a 25%,#c1c6c2 25%,#c1c6c2 50%,#9a9a9a 50%,#9a9a9a 75%,#c1c6c2 75%);
}
/* end main page */
/* start child account */
.hello {
  border-radius: 10px;
}
.hello h2{
  color: #f3f2f2;
  font-weight: 500;
  padding: 25px 10px;
}
.hello h2 span{
  color: #fff;
  font-style: italic;
  font-weight: 900;
}
.quote{
  align-items: center;
  border-radius: 10px;
}
.quote h4{
  color: #fff;
  padding: 5px 10px;
}
.quote img{
  height: 150px;
  width: 120;
}
.student-data{
  border: #2c3443 2px solid;
  border-radius: 10px;
}
.student-data h2{
  color: #212731;
  font-weight: 900;
}
.student-data .data{
  display: flex;
  align-items: center;
  padding: 5px 0px;
}
.student-data .data h3{
  font-weight: 700;
  color: #2c3544;
}
.student-data .data h4{
  color: var(--text-color);
  padding-right: 5px;
}
/*end child account */
/* start admin dashboard */
.admin-heading h1{
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 10px 20px;
  display: inline;
  color: #2c3443;
}
.sm-card{
  padding: 20px 0;
  border-radius: 10px;
}
.sm-card i{
  color: #fff;
  font-size: 30px;
  border-radius: 50%;
  padding: 15px;
  margin:20px 0;
}
.sm-card h3{
  font-weight: 600;
  color: #2c3544;
}
.sm-card span{
  font-weight: 900;
  font-size: 24px;
  padding: 10px ;
  display: block;
  margin-bottom: 20px;
}
.card1{
  background-color: #dddddd;
}
.card1 i{
  background-color: #8e0cc4;
}
.card2{
  background-color: #ffe3ed;
}
.card3{
  background-color:#ffe8d6 ;
}
.card4{
  background-color: #cceabb;
}
.students{
  background-color: #f7f7f7;
  border-radius: 10px;
}
.students h3{
  color: var(--light-green);
  font-weight: 500;
  position: relative;
}
.students h3::after{
  content: "";
  background-color: var(--light-green);
  height: 2px;
  width: 200px;
  position: absolute;
  right: 0;
  bottom: -7px;
}
.student-table{
  overflow-x: scroll;
}
.search-input{
  height: 36px;
  width: 60%;
}
.search-input input{
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border:none;
  background:#fff;
  border-radius: 36px 0 0 36px;
  outline: none;
  padding: 5px;
  overflow: hidden;
}
.search-input button{
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-green);
  color: #f7f7f7;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  padding: 5px;
}
.student-table .more-btn{
  color: #fff;
  font-weight: 600;
  background-color: var(--light-green);
  transition: all 0.3s;
}
.student-table .more-btn:hover{
  color: #fff;
  font-weight: 600;
  background-color: #02a990;
}
/* end admin dashboard */

@media only screen and (max-width: 576px){
  .color-box h5{
    font-size: 0.7rem;
  }
  .color-box{
    width: 12vmin;
  }
  .feature p{
    font-size: 17px;
  }
}
@media only screen and (max-width: 992px){
  footer .zad {
    width: 80%;
  }
  footer .qtouf{
    width: 80%;
  }
}
.notfound{
  font-size: 40px;
  background-color: #c1c6c2;
  color: rgb(197, 6, 6);
}